<!doctype html><html><head><title>Making sure you&#39;re not a bot!</title><link rel="stylesheet" href="/.git.sr.ht/~bitfehler/anubis/static/srht.css"><meta name="viewport" content="width=device-width, initial-scale=1.0"><style>
      body,
      html {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65ch;
        margin-left: auto;
        margin-right: auto;
	color: white;
      }

      .centered-div {
        text-align: center;
      }

      .lds-roller,
      .lds-roller div,
      .lds-roller div:after {
        box-sizing: border-box;
      }
      .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
      }
      .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7.2px;
        height: 7.2px;
        border-radius: 50%;
        background: currentColor;
        margin: -3.6px 0 0 -3.6px;
      }
      .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
      }
      .lds-roller div:nth-child(1):after {
        top: 62.62742px;
        left: 62.62742px;
      }
      .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
      }
      .lds-roller div:nth-child(2):after {
        top: 67.71281px;
        left: 56px;
      }
      .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
      }
      .lds-roller div:nth-child(3):after {
        top: 70.90963px;
        left: 48.28221px;
      }
      .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
      }
      .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
      }
      .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
      }
      .lds-roller div:nth-child(5):after {
        top: 70.90963px;
        left: 31.71779px;
      }
      .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
      }
      .lds-roller div:nth-child(6):after {
        top: 67.71281px;
        left: 24px;
      }
      .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
      }
      .lds-roller div:nth-child(7):after {
        top: 62.62742px;
        left: 17.37258px;
      }
      .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
      }
      .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12.28719px;
      }
      @keyframes lds-roller {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style></head><body id="top"><main><center><img id="image" width="256" src="/.git.sr.ht/~bitfehler/anubis/static/img/sourcehut.svg?cacheBuster=sr.ht-202504040931"><h1 id="title" class=".centered-div">Making sure you&#39;re not a bot!</h1></center><div class="centered-div"><p id="status">Loading...</p><script async type="module" src="/.git.sr.ht/~bitfehler/anubis/static/js/main.mjs?cacheBuster=sr.ht-202504040931"></script><div id="spinner" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div><noscript><p>Sadly, you must enable JavaScript to get past this challenge. Note that this challenge will not be presented to <a href="https://meta.sr.ht/login">logged-in users</a>.</p></noscript><div id="testarea"></div></div><footer><center><p>Protected by <a href="https://anubis.techaro.log">Anubis</a> from <a href="https://techaro.lol">Techaro</a>.</p></center></footer></main></body></html>