:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray500: hsl(0, 0%, 42%);
    --gray950: hsl(0, 0%, 7%);
}

p,
h1,
img {
    margin: 0;
    padding: 0
}

body {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    font-size: 15px;
    background-color: var(--yellow);
    margin: 0;
    padding: 0
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: var(--white);
    color: var(--gray500);
    font-weight: 500;
    line-height: 150%;
    border-radius: 1em;
    border: 2px solid var(--gray950);
    box-shadow: .5em .5em 0 0 var(--gray950);
    padding: 1.5em 2em;
    gap: .8em;
}

.card h1 {
    color: var(--gray950);
    font-weight: 800;
    font-size: x-large;
}
.card h2 {
    font-size: small;
}

.card p {
    font-size: medium;
    color: var(--gray500);
}

.card img {
    border-radius: 1em;
}

.card>img:first-child {
    align-self: center;
    display: block;
    width: 100%;
}

.attribution {
    position: absolute;
    bottom: 0;
}
.tags {
    margin-top: 1em;
}
.tags a:any-link {
    color: var(--gray950);
    background-color: var(--yellow);
    padding: 0.5em;
    text-decoration: none;
    font-weight: 800;
    border-radius: 3px;
}

.tags a:hover, .tags a:focus, .tags a:focus-visible {
    color: var(--white)   
}

.author {
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: 800;
}

.author a:any-link {
    text-decoration: none;
    color: var(--gray950);
}

.author a:hover, .author a:focus, .author a:focus-visible {
    color: var(--gray500);
}